.footer {
    background-color: #050d27;
    margin-top: 2rem;
    color: #fff;

    .footerTop {
        padding-block: 3rem;

        @media (max-width: 575.98px) {
            padding: 3rem 2rem;
        }


        .row {
            flex-wrap: wrap;

            @media (max-width: 575.98px) {
                flex-direction: column;
                gap: 4rem;
            }

        }

        svg {
            max-width: 200px;
            display: block;

            @media (max-width: 575.98px) {
                margin: 0 auto;
            }
        }

        h5 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            font-size: 16px;

            a {
                text-decoration: underline;
                color: blue;
            }
        }
    }


    .footerBottom {
        text-align: center;
        padding-block: 1rem;
        border-top: 1px solid rgba(white, 0.3);

        @media (max-width: 575.98px) {
            padding: 1rem 2rem;
        }

    }
}